.email-heading {
    margin-bottom: 2rem;
  }
  .email-addr {
    font-size: 1rem;
  }
  .apply {
    line-height: 1;
  }
  .contacts-wrapper {
    background-color: transparent;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  .contact-us {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }
  .left-section-contact {
    width: 20%;
    color: black;
  }
  .left-section-contact h1 {
    font-size: 1.5rem;
    border-bottom: 2px solid black;
    width: 50%;
    font-weight: 500;
  }
  .left-section-contact p {
    font-size: 1rem;
  }
  .left-section-contact a {
    color: black;
  }
  .addr {
    margin-top: 3rem;
  }
  .phonen {
    margin-top: 3rem;
  }
  #apply {
    line-height: 1.2;
  }
  .contact-address {
    margin-bottom: 4rem;
  }
  .phone-number {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  #email-heading {
    margin-bottom: 2rem;
  }
  #email-addr {
    font-size: 1rem;
  }
  .form {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-intro {
    text-align: center;
    color: black;
  }
  .form-intro h1 {
    font-size: 2rem;
    margin-top: 0;
  }
  .form-intro > p {
    margin-bottom: 3rem;
    font-size: 1rem;
  }
  .form-inputs {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .personal-details {
    flex: 0 0 47%;
    margin-bottom: 3rem;
    border: none;
    font-size: 1rem;
    outline: none;
    border-bottom: 2px solid black;
    padding: 0;
    background-color: transparent;
    color: black;
    padding-bottom: 2rem;
  }
  .personal-details::placeholder {
    color: black;
  }
  .message-input {
    width: 100%;
    margin-bottom: 4rem;
    border: none;
    font-size: 1rem;
    background-color:transparent;
    outline: none;
    border-bottom: 2px solid black;
    padding: 0;
    color: black;
    padding-bottom: 2rem;
  }
  .message-input::placeholder {
    color: black;
  }
  .submit-btn {
    text-align: right;
  }
  .submitbutton {
    padding: 1.5rem 6rem;
    background-color: #00c1cf;
    font-size: 1.1rem;
    border: none;
    outline: none;
    margin-bottom: 0rem;
  }
  @media (max-width: 1200px) {
    .container {
      max-width: 63rem;
      padding: 1rem 2rem;
    }
    header {
      display: none;
    }
    .nav-bar {
      display: none;
    }
    .contact-us {
      flex-direction: column;
      align-items: center;
    }
    .left-section-contact {
      width: 80%;
      text-align: center;
    }
    /* .left-section-contact h1{
      font-size: 2rem;
      border-bottom: 2px solid white;
      width: 50%;
  } */
    .left-section-contact h1 {
      width: 70%;
      margin: 0 auto;
    }
    .form {
      width: 90%;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      margin-top: 2rem;
      margin-bottom: 2rem;
      align-items: center;
    }
    .form-intro h1 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    .firstName,
    .email-input {
      margin-right: 0.5rem;
    }
    .lastName,
    .phone {
      margin-left: 0.5rem;
    }
    .personal-details {
      font-size: 1.1rem;
    }
    .message-input {
      font-size: 1.1rem;
    }
    .feedback {
      flex-direction: column;
    }
    .feedback-img {
      width: 80%;
    }
    .feedback-wrapper {
      width: 80%;
      align-items: center;
      text-align: center;
    }
    .feedback-wrapper h1 {
      font-size: 2rem;
    }
    .feedback-wrapper p {
      font-size: 1rem;
    }
    #subscribe-section {
      max-width: 100%;
      margin-bottom: -5.7rem;
    }
    #subscribe-wrapper {
      padding: 1rem 2rem;
      justify-content: center;
    }
    #subscribe-wrapper img {
      display: none;
    }
    #right-container {
      flex-direction: column;
    }
    #offer {
      margin-bottom: 1rem;
      text-align: center;
    }
    #input-email {
      width: 100%;
    }
    .contact-wrapper p {
      width: 80%;
    }
    .contact-bottom-link {
      width: 40%;
    }
  }
  @media (max-width: 800px) {


    .form {
      width: 98%;
    }
    .form-inputs {
      flex-direction: column;
      width: 80%;
    }
    .message-input {
      width: 80%;
    }
    .firstName,
    .email-input {
      margin-right: 0;
    }
    .lastName,
    .phone {
      margin-left: 0;
    }
    .personal-details {
      flex: 0 0 100%;
    }
    .feedback-wrapper a {
      width: 50%;
    }
    .feedback-wrapper h1 {
      margin-top: 1rem;
    }
    #subscribe-section {
      margin: 0;
      margin-bottom: -5rem;
      max-width: 100%;
    }
    #input-email {
      width: 80%;
      flex-direction: column;
      background-color: transparent;
    }
    #input-email input {
      margin-bottom: 2rem;
      padding-top: 0.7rem;
      width: 80%;
      padding-bottom: 0.7rem;
    }
    #input-email a {
      width: 70%;
    }
    .contact-wrapper p {
      width: 90%;
    }
    .contact-bottom-link {
      width: 55%;
    }
    .footer-wrapper,
    .footer-wrapper2 {
      margin-bottom: 0;
    }
  }
  @media (max-width: 500px) {
    .form-inputs {
      width: 90%;
    }
    .message-input {
      width: 90%;
    }
    .feedback-wrapper {
      width: 90%;
    }
    .feedback-wrapper a {
      width: 70%;
    }
    #subscribe-section {
      padding: 0;
    }
    #subscribe-wrapper {
      padding: 2rem 0;
    }
    .offer h3 {
      font-size: 1rem;
    }
    .offer h1 {
      font-size: 1.2rem;
    }
    #input-email input {
      margin-bottom: 1.25rem;
      width: 100%;
      padding: 0.7rem;
      font-size: 1rem;
    }
    #input-email a {
      width: 100%;
      font-size: 1.1rem;
    }
    .contact-wrapper p {
      width: 100%;
    }
    .contact-bottom-link {
      width: 80%;
    }
  }
  