@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 2rem;
  }
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li {
    margin: 0 10px;
  }
  .socials a {
    text-decoration: none;
    color: #fff;
  }
  .socials a i {
    font-size: 3rem;
    transition: color 0.4s ease;
  }
  .socials a:hover i {
    color: rgb(0, 0, 0);
  }
  .footsvg {
    margin-bottom: -212px;
  }
  .footer-bottom {
    background: #00d4ff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .footer-bottom p {
    font-size: 2rem;
    word-spacing: 2px;
    text-transform: capitalize;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: poppins;
    font-size: 14px;
  
  }
  .column-foot {
    display: flex;
    flex-direction:column;
     float: left;
     width: 24%;
     padding: 30px;
     height:300px; /* Should be removed. Only for demonstration */
    margin:5px;
    }
    
    .row-foot{
      padding: 36px;
    }
    /* Clear floats after the columns */
    /* .row-foot:after {
       display: flex;
    
     content: "";
     display: table;
     clear: both;
    } */
    #hh1
{
   
   font-size: 18px;
   margin-left:58px;
   margin-top:2px;
   color:white;

   
}
#hh2
{
   font-size: 25px;
   
   margin-top:2px;
   color:#00D4FF;
}
.row-foot{
    padding: 36px;
  }
  /* Clear floats after the columns */
  .row-foot:after {
     display: flex;
  
   content: "";
   /* display: table; */
   clear: both;
  }
.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 200;
    color: #5249d8;
  } 
  .span {
    width: 50px;
    height: 3px;
    background-color:#00D4FF;
    position: relative;
    left:2px;
    top: 20px;
   
 
 } 
 .foot-container{
    width: 100%;
    padding: 0 10px;
   }
   
   
   .bottom-foot{
    width: 100%;
      padding: 15px 200px;
      background-color: #00D4FF;
      display: flex;
      justify-content: space-between;
      height: 50px;
   
   }