.template1Header nav {

  width: 100%;
  height: 85px;
  background: #fff;
  z-index: 120;
}

.template1Header nav .navbar {
  display: flex;
  height: 100%;
  max-width: 1700px;
  justify-content: space-between;
  margin: 20px 75px;
  align-items: baseline;
  padding: 0 30px;

}

.logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;

}

.template1Header nav .navbar .nav-links {
  height: 100%;
  line-height: 20px;
}

.template1Header nav .navbar .nav-links .menus li {
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
  padding: 0 10px;
}

.template1Header nav .navbar .nav-links .menus {
  display: flex;
  align-items: center;
}

.template1Header nav .navbar .nav-links .menus li a {
  text-decoration: none;

  color: black !important;
  white-space: nowrap;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;

  font-size: 20px;

}

.template1Header nav .navbar .nav-links .menus li:hover>.line {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.menus .line {
  letter-spacing: 1px;
  padding: 8px 15px;

  font-weight: 500;
  font-size: 20px;
  color: black;
}

.line {
  position: relative;
  width: auto;

  text-align: center;
  order: 3;
}

.line:after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50px * 0.4);
  right: calc(50px * 0.4);
  bottom: 12%;
  pointer-events: none;
  height: 2px;
  width: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
  opacity: 0;
  z-index: 5;
  background: gray;
  transition: all 0.3s;
}

.line:hover:after {
  opacity: 1;
  width: 50%;
  background: #00d4ff;
}

/* .template1Header  nav .navbar .nav-links .menus li > */
.contact-btn {
  background-color: #00d4ff;
  color: white;
  border-radius: 8px;
  padding: 13px 12px;
}

.template1Header .navbar .nav-links .menus .sub-menu {
  position: absolute;
  top: 36px;
  line-height: 32px;
  width: 20rem;
  padding: 20px 0;
  left: 10px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 0 0 5px 5px;
  display: none;
  z-index: 110;
}

.template1Header .navbar .nav-links .menus .sub-menu li {
  padding: 0 20px;
  width: 100%;
  padding-bottom: 10px;
}

.template1Header .navbar .nav-links .menus .sub-menu li a {
  font-size: 1.5rem;
}

.template1Header .navbar .nav-links .menus li:hover .sub-menu {
  display: block;
}

.template1Header .navbar .nav-links .menus .sub-menu li a:hover {
  background: white;
  box-shadow: none;
}

.pnt {
  position: relative;
  text-align: start;
  order: 3;
}

.pnt:after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  background: gray;
  opacity: 0;
  transition: all 0.3s;
  display: block;
  bottom: 12%;
  pointer-events: none;
  height: 2px;
  width: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
}

.pnt:hover:after {
  opacity: 1;
  width: 10px;
  background: #00d4ff;
}

.navbar .fa-bars,
.template1Header nav .navbar .nav-links .sidebar-logo .logo-name,
.template1Header nav .navbar .nav-links .sidebar-logo .fa-times {
  font-size: 30px;
  font-weight: 700;
  display: block;
  color: #000;
}

.template1Header nav .navbar .nav-links .menus li>.contact-btn:hover {
  box-shadow: 0 0 0 4em #00d4ff inset, 0 5px 15px rgb(0 0 0 / 10%);
  transform: translateY(-1px);
}
.navbarM, .nav-linksM, .sidebar-logoM, .menusM, .sub-menuM{
  display: none;
}
/* navbar media query */
@media (max-width: 700px) {
  .template1Header nav .navbar {
    max-width: 100%;
    padding: 0 25px;
    margin: 10px;
  }

  .template1Header nav .navbar .nav-links {
    display: block;
    position: fixed;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    top: 0;
    left: -100%;
    max-width: 270px;
    width: 100%;
    transition: left 0.3s ease-in;
  }

  .template1Header nav .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    line-height: 40px;
  }

  .navbar .fa-bars,
  .template1Header nav .navbar .nav-links .sidebar-logo .logo-name,
  .template1Header nav .navbar .nav-links .sidebar-logo .fa-times {
    display: block;
    transition: transform 0.25s, opacity 0.25s;
    cursor: pointer;
  }

  .fa-times:hover {
    opacity: 1;
    transform: rotate(90deg);
  }

  .template1Header nav .navbar .nav-links .menus {
    display: block;
    margin-top: 20px;
  }

  .template1Header nav .navbar .nav-links .menus li {
    display: block;
    line-height: 40px;
  }

  .template1Header nav .navbar .nav-links .menus .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
  }

  .navbar .nav-links .menus .sub-menu li {
    line-height: 30px;
  }
  .navbar{
    display: none;
  }
}