.text-main-text {
    width: 100%;
    /* margin-top: 100px; */
  }
  .headings {
    font-size: 3rem;
    /* padding-top: 100px; */
    font-weight: 700;
    text-align: center;
    max-width: 100%;
    color: #333434;
  }
  
  .subhead {
    text-align: center;
    font-size: 20px;
  }
  .container8 {

  
    width: 100%;
    max-width: 100%;
display: flex;
    padding:50px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("https://i.ibb.co/Ky0n1bJ/blobthebuilder.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
  }
  
  .container8-content {
    flex: 2;
    height: 800px;
    margin: 5rem 0;
  }
  .container8-content p {
  font-size: 16px;
  font-weight: 700;
  }
    .testimonialtext {
    background-image: url("https://i.ibb.co/Cbc3khT/qoute.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 30px 5%;
    font-size: 2rem;
    /* line-height: 1.5rem; */
    font-weight: 600;
    letter-spacing: 1px;
  }
  .author .testimonial-author {
    color: #00d4ff;
    padding-top: 35px;
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .testimonial-heading {
    background: #e6f5fc;
    color: #00d4ff;
    padding: 6px 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    width: 25rem;
  }
  
  @media (max-width:1522px) {
    .container8 {
      flex-direction: column;
      text-align: center;
    }
    .container10-image img {
        width: 400px;
       display: flex;
       margin: 0 auto;
        }
  }
  @media (max-width: 570px) {

    .container8 {
      height: 1000px;
    }
    .testimonial-heading {
      font-size: 2rem;
      width: 27rem;
    }
  
  }
  .container10-image {

  flex: 1;

  margin-bottom: 6em;

}
