.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-primary);
    color: white;
    font-family: poppins;
    font-size: 14px;
  }
  .column-foot {
    display: flex;
    flex-direction: column;
    float: left;
    width: 24%;
    padding: 30px;
    height: 400px; 
    margin: 5px;
  }

  .row-foot {
    padding-top: 60px;
  }
  .row-foot:after {
  
    content: "";
    display: table;
    clear: both;
  }
  
  #input {
    border-style: double;
    font-size: 20px;
  }
  
  .hh1 {
    font-size: 18px;
    margin-left: 58px;
    margin-top: 2px;
    color: white;
  }
  .hh1M{
    font-size: 18px;
    margin-top: 2px;
    color: white;
  }
  .hh2 {
    font-size: 25px;
    font-weight: 900;
    margin-top: 10px;
    color: var(--clr-secondary);
  }
  
  
  
  .pg {
    text-align: center;
    margin-left: -36%;
  
    color: white;
    font-size: 15px;
  }
  .copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 80px;
    width: 100%;
  }
  
  .span {
    width: 50px;
    height: 3px;
    background-color: var(--clr-light);
    position: relative;
    left: 2px;
    top: 20px;
  }
  .col {
    text-align: left;
    margin-top: 11rem;
    font-size: 16px;
    /* padding-left: -50px; */
  }
  
  .foot-container {
    width: 100%;
    padding: 0 10px;
  }
  
  .bottom-foot {
    width: 100%;
    background-color: var(--clr-secondary);
    display: flex;
    justify-content: center;
    height: auto;
  }
  .mainpara {
    margin-bottom: 10px;
    line-height: 30px;
  }
  
  .nav-foot ul {
    list-style: none;
    display: flex;
  }
  
  .nav-foot a {
    text-decoration: none;
    padding: 0 10px;
    color: #f2f2f2;
    font-weight: 600;
  }
  .columnFootM{
    display: flex;
    flex-direction: column;
    float: none;
    width: 98%;
    height: auto;
    padding: 1rem 3rem;
    margin: 5px;
    justify-content: center;
  }
  .footImgM{
    width:100%;
  }
  
  .colM{
    margin: 0;
  }
  .row-footM{
    padding-top: 30px;
  }
  .row-footM:after {

    content: "";
    display: table;
    clear: both;
  }
  @media (max-width: 1169px) {
    .column-foot {
      display: flex;
      flex-direction: column;
      float: none;
      width: 98%;
      height: 266px;
      margin: 5px;
      justify-content: center;
      padding: 5px 50px;
    }

    .footimg {
      width: 50%;
    }
  }

  @media (max-width: 560px) {
    .footimg {
      width: 100%;
    }
    .col {
 
      margin: 0;
   
    }
    .row-foot {
      padding-top: 30px;
    }
  }

  @media (max-width: 834px) {
    .bottom-foot {
      padding: 15px 25px;
      height: auto;
    }
 
    .column-foot {
      height: auto;
      padding: 1rem 3rem; 
  
    }
  }

  .bottom-footM {
    padding: 15px 25px;
    height: auto;
  }