.heroSection {
  width: 100%;
  height: 90vh;

}


.guardImg {
  width: 35rem;
  height: 35rem;

}

.mainHead {
  font-size: 18rem;
}

.mainHeadM{
  font-size: 3rem;
}
.heroSectionM{
  width: 100%;
  height:50vh;
}
.guardImgM{
  width:  15rem;
  height: 20rem;
}
@media (max-width:600px) {
  .mainHead {
    font-size: 3rem;
  }



  .heroSection {
    width: 100%;
    height: 70vh;
  }

}
@media (max-width:600px){
  .guardImg {
    width: 15rem;
    height: 20rem;
  }
}