.our-experience {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 70px 0;
    padding: 0 100px;
  }
  .ecard-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
  }
  .ecard-top h2 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }
  .ecard-top img {
    width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .container-experience {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
  .pp p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 18px;
  }
  
  .pp-2 {
    color:white;
  }
  .exp-card1 {
    height: auto;
    background-color:#c0272d;
    padding: 15px;
  }
  .exp-card2 {
    height: auto;
    background-color:#ebebeb;
    padding: 15px;
  }
  .exp-card3 {
    height: auto;
    background-color: #c0272d;
    padding: 15px;
  }
  .exp-card4 {
    /* width: 300px; */
    height: auto;

    background-color: #ebebeb;
    padding: 15px;
  }
  .exp-card5 {

    height: auto;
  
    background-color:#c0272d;
    padding: 15px;
  }
  .exp-card6 {

    height: auto;

    background-color: #ebebeb;
    padding: 15px;
  }
  .MainHeading {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* background-color: darkgray; */
  }
  
  .head-main {
    margin: 30px 0;
  }
  
  .SpanColor {
    color: #c0272d;
  }
  
  .spanDesc {
    /* background-color: darkcyan; */
    text-align: center;
  }
  
  .spanDesc p {
    font-size: 1rem;
    margin:0 3rem 10px;
    color: #292929;
  }
  
  .dot {
    margin: 0 12px;
    width: 22px;
  }
  
  .divMainHeading {
    display: flex;
    /* background-color: green; */
    height: 20px;
    margin-left: 25%;
  }
  
  .divMainHeadingSubDiv {
    /* background-color: gold;  */
    width: 30%;
    border-top: 3px dashed firebrick;
    margin-top: 9px;
  }
  @media (max-width: 1550px) {
    .pokemon__img {
      max-height: 53.4vw;
      left: 22%;
    }

    .guard2__img {
      max-height: 53.4vw;
      /* left: 22%; */
    }

    .text--big {
      font-size: 20vw;
      margin-left: 200px;
    }

    .text--sub {
      margin-left: 240px;
    }
  }

  @media (max-width: 1182px) {
    .pokemon__img {
      max-height: 65.4vw;
      left: 13%;
    }

    .guard2__img {
      max-height: 65.4vw;
      /* left: 13%; */
    }

    .text--big {
      font-size: 24vw;
      margin-left: 25px;
    }

    .text--sub {
      margin-left: 60px;
    }
  }

  @media (max-width: 1066px) {
    .pokemon__img {
      max-height: 55.4vw;
      left: 28%;
    }

    .slider-temp2 {
      height: 550px;

    }

    .guard2__img {
      max-height: 55.4vw;
      left: 28%;
    }

    .text--big {
      font-size: 24vw;
      margin-left: 0px;
    }

    .text--sub {
      margin-left: 10px;
    }
  }

  @media (max-width: 900px) {
    .flex__item {
      height: 550px;
    }

    .bg-line {
      height: 550px;
    }

    .flex__container {
      height: 550px;
    }
  }

  @media (max-width: 612px) {
    .text--big {
      font-size: 21vw;
      margin-left: -32px;
    }

    .text--sub {
      margin-bottom: 0;
    }
  }

  @media(max-width: 860px){
    .MainHeading{
      font-size: 2rem !important;
    }
  }