.visionwrap {
    width: 100%;
  height: 50vh;
  
  
    background: black;
}
.row1 {
    display: flex;
    justify-content:space-evenly;
align-items: center;
}
.col1 {
    width: 400px;
    height:400px;
    margin: 4rem 0 0;
}
.col-2 {
    width: 40%;
    margin: -2rem 0 0;

}
.col1 img {
    width: 100%;
    border-radius: 60px;
}
.col-2 p {
    color: #fff;
}
.col-2 h1 {
    color: #00C1CF;
    font-size: 3rem;
    font-weight: 700;
}
.col-2 h5 {
    color: grey;
    font-weight: 500;
    font-size: 1.5rem;
}
@media (max-width:900px){
    .row1 {
       flex-direction: column;
    } 
    .visionwrap {

      height: auto;
    
    }
    .col-2 {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0 0 3rem;
    }
}