.bg {
  background-image: url(../assets/template3images/01\ -\ Copy.png);
  min-height:50vh;
}

.bg1 {
  background-image: url(../assets/template3images/01\ -\ Copy.png);
  min-height:50vh;
}

.bg2 {
  background-image: url(../assets/template3images/01\ -\ Copy.png);
  min-height:50vh;
}


.guard-card:hover {
  transform: scale(1.05);
}

.g-card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(20 50% 50% / 0.3) 20%,
      hsl(0 0% 0% / 1));
  transform: translateY(90%);
  transition: transform 500ms ease;
}

.guard-card:hover .g-card-content {
  transform: translateY(0);
}

.guard-card_title {
  position: relative;
  width: max-content;
  max-width: 100%;
  color: #fff;
  font-size: calc(3em * 0.625);
}

.g-card-body {
  font-size: calc(1.5em * 0.625);
  padding: -10px 0;
}

.guard-card_title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #c01120;
  transform: scaleX(2);
  transform-origin: left;
  transition: transform 500ms ease;
}

.guard-card:hover .guard-card_title::after {
  transform: scaleX(2);
}

.button-g {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #c01120;
  padding: 0.5em 1.1em;
}

.button-g:hover,
.button-g:focus {
  background-color: white;
}

.heading-main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.heading-main-title h3 {
  font-size: calc(2.5em * 0.625);
  border-bottom: 1px solid #c01120;
  color: #575757;
  padding: 17px 0;
}

.sub-title {
  position: relative;
}

.sub-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30%;
  background: #c01120;
  left: 0;
  bottom: -2px;
}

.heading-main-title h1 {
  font-size: calc(5em * 0.625);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.button-sq {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  border-right: 3px solid white;
  text-decoration: none;
  text-transform: uppercase;

  background: linear-gradient(to right,
      rgb(0, 0, 0) 50%,
      rgb(255, 255, 255) 50%) left;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button-sq:hover {
  background-position: right;
  color: #000;
}

.button-sq-red {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  border-right: 3px solid #c01120;
  text-decoration: none;
  text-transform: uppercase;

  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(204, 48, 48) 50%) left;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button-sq-red:hover {
  background-position: right;
}

.container-main {
  padding: 30px 90px;
  background-color: white;
}

.guard-cards-wrapper {
  line-height: 1.6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.guard-card {
  color: white;
  background-size: cover;
  object-fit: cover;
  padding: 25rem 0 0;
  max-width: 30ch;
  height: 10vh;
  overflow: hidden;
  transition: transform 500ms ease;
  margin: 20px;
  border-top: 2px solid #c01120;
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px;
  backdrop-filter: blur(5px);
}

.guard-section {
  display: flex;
  justify-content: center;
  align-items: center;
}