.heading-main-title-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.heading-main-title-w h3 {
  
  font-size: calc(2.5em * 0.625);
  border-bottom: 1px solid #c01120;
  color: #575757;
  padding: 17px 0;
}

.heading-sec-w {
  background-color: black;
}

.sub-title-w::after {
  content: "";

  height: 4px;
  width: 30%;
  background: #c01120;
  left: 0;
  bottom: -2px;
}

.heading-main-title-w h1 {
  font-size: calc(5em * 0.625);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
}

.news-sec {
  background-color: black;
}

.contain-news {
  padding: 30px 80px;
}

.ncards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news-card {
  border-top: 3px solid #c01120;
  margin: 10px 40px;
  max-width: 30ch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  /* padding-top: 100px; */
  /* background-color: #c01120; */
  box-shadow: rgb(0 0 0 / 25%) 0 54px 55px;
  backdrop-filter: blur(5px);
  padding: 0;
}

.news-card img {
  max-width: 100%;
  z-index: 1;
}

.news-card-content {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.news-card h2 {
  color: #c01120;
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}

.news-card p {
  color: black;
  font-size: 17px;
  text-align: center;
  padding-bottom: 20px;
  /* padding: 40px 40px; */
}

.button-sq {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  background: red;
  border-right: 3px solid white;
  text-decoration: none;
  text-transform: uppercase;

}

.button-sq:hover {
  background-position: right;
  color: #000;
}

.button-sq-red {
  font-size: 15px;
  display: inline-block;
  padding: 1em 1.3em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  border-right: 3px solid #c01120;
  text-decoration: none;
  text-transform: uppercase;

  background: linear-gradient(to right, rgb(0, 0, 0) 50%, rgb(204, 48, 48) 50%) left;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button-sq-red:hover {
  background-position: right;
}
@media only screen and (min-device-width: 480px) and (max-device-width: 769px) {

  .ncards-wrapper {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 320px) {
  .ncards-wrapper {
    flex-direction: column;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .ncards-wrapper {
    flex-direction: column;
  }
  .contain-news {
    padding: 24px 0px;
  }
  .ncards-wrapper {
    flex-direction: column;
  }
  .news-card::after {
    left: 26px;
    width: 300px;
  }
  .news-card h2 {
    font-size: 25px;
  }
  .news-card p {
    font-size: 15px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
   
  .contain-news {
    padding: 24px 0px;
  }
    .ncards-wrapper {
      flex-direction: column;

    }
    .news-card::after {
      left: 26px;
      width: 300px;
    }
    .news-card h2 {
      font-size: 25px;
    }
    .news-card p {
      font-size: 15px;
    }
  }

@media only screen and (min-device-width: 1025px) and (max-device-width: 1180px) {
  .ncards-wrapper {
    flex-direction: column;
  }
  .news-card img {
    width: 365px;
  }
  .news-card h2 {
    padding-top: 20px;
    font-size: 25px;
  }
  .news-card p {
    font-size: 17px;
    padding: 40px 0px;
    text-align: center;
  }
  .news-card {
    margin: 70px 40px;
  }
  }
  @media only screen and (min-device-width: 1200px) and (max-device-width: 1440px) {
    .news-card img {
      width: 365px;
    }
    .news-card h2 {
      padding-top: 20px;
      font-size: 25px;
    }
    .news-card p {
      font-size: 17px;
      padding: 40px 0px;
      text-align: center;
    }
  }