.container-main {
    padding: 33px  120px !important;
}
.feed-img img {
    width: 1739px;
    min-height: 18em;
  }
  .feed-img {
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
      rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
      rgb(0 0 0 / 9%) 0px -3px 5px;
    backdrop-filter: blur(5px);
  }
  .feedback-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .feed-content {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .feed-content p {
    font-size: 1rem;
    padding: 30px 40px;
  }
  .separator-one {
    width: 660px;
    height: 2px;
    margin: 0px 0px 0px 10px;
    width: 55%;
    background-color: white;
  }
  .paragraph {
    color: white;
    font-weight: 500;
  }
  .button-sqr {
    font-size: 15px;
    display: inline-block;
    padding: 1em 1.3em;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    background: red;
    border-right: 3px solid rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
  
    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 50%,
        #c01120 50%
      )
      left;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .button-sqr:hover {
    background-position: right;
    color: black;
  }
  .heading2-main-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21px;
  }
  .heading2-main-title h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #c01120;
    color: #575757;
    padding: 17px 0;
  }
  .sub-title2 {
    position: relative;
  }
  .sub-title2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30%;
    background: #c01120;
    left: 0;
    bottom: -2px;
  }
  .heading2-main-title h1 {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  