.containers {
  margin: 0 auto;
}

.grid-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.grid-contactM {
  display: flex;
  flex-direction: column;
}

.services-text.appear,
.service-img.appear {
  transform: translateX(0);
  opacity: 1;
}

.services-text h1 {
  overflow: visible;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 50px;
}

.services-textM {
  width: 90%;
  margin: 0 auto;
}

.services-textM h1 {
  overflow: visible;
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 0;
}

.services-text p {
  padding-bottom: 30px;
  font-size: 16px;
}

.services-text {
  background: url("https://i.ibb.co/Vg37Gp9/headingblob.png");
  background-repeat: no-repeat;
  padding: 0 100px;
  margin-top: -11rem
}

.btna {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 20px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 25px;
  z-index: 1;
}

.services-image img {
  width: 100%;
  height: 35rem;
  margin-top: 133px;
}

.services-imageM img {
  width: 70%;
  margin: 1rem auto 0;
}

.btna:before {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  left: -100%;
  top: 0;
  background-color: #00d4ff;
  content: "";
  transition: 0.3s;
  z-index: -1;
}

.wave-services img {
  width: 100%;
  position: relative;
  z-index: 4;
  margin-top: -27.7rem;
}

.wave-servicesM img {
  width: 100%;
  position: relative;
  z-index: 4;
  margin-top: -4.7rem;
}

.container {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 0 90px;
  background-color: #D6EDFF;
}

.txt-serv {
  display: flex;
}

.line1 {
  font-size: 2.6rem;
  color: #000;
  font-weight: 700;
}

.line2 {
  font-size: 2.6rem;

  color: #00d4ff;
  font-weight: 700;
}

.services-text2 p {
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 20px;
}

.grid-r3 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.grid-r3M {
  display: flex;
  flex-direction: column;
}

.services-text2 h1 {
  overflow: visible;
  font-size: 40px;
  padding-top: 30px;
}

.container-sv {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 30px 90px;
  border-top: 1px solid black;
}

.container-svM {
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 30px 0;
  border-top: 1px solid black;
}

.container-sv p {
  font-size: 16px;
}

.container-svM p {
  font-size: 16px;
  padding: 20px 0;
}

.container-serv {
  margin-top: -900px;
  max-width: 1100;
  margin: 0 auto;
  overflow: auto;
  padding: 0 400px;

}

.services-sec {
  background-image: url("https://i.ibb.co/S7BZmnL/blobthebuilder.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 800px;
  background-position: center;
}

.services-secM {
  background-image: url("https://i.ibb.co/S7BZmnL/blobthebuilder.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  background-position: center;
}

@media (max-width: 900px) {
  .grid-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .grid-r3 {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .container {
    /* max-width: 1100; */
    margin: 0 auto;
    overflow: auto;
    padding: 0 50px;
    background-color: #D6EDFF;
  }

  .services-text {
    background: url("https://i.ibb.co/Vg37Gp9/headingblob.png");
    background-repeat: no-repeat;
    padding: 0 40px;
    margin-top: 7rem;
  }

  .services-sec {
    height: auto;
  }

  .services-image {
    margin-top: 2rem;
  }

   .wave-services img {
     margin-top: -5.4rem;
   }
}