
.bodyWrapper>.body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.bodyWrapper>.body>form {

    padding: 40px;
    height: 40em;
    width: 35vw;
    border-radius: 10px;
   
    background-color: rgba(0, 0, 0, 0.1);
  
}

.body>form {
    padding: 50px;
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body>form input {
    width: 100%;
    height: 100%;
    padding-top:4rem;
    padding-bottom: 0.8rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.2rem;
    background: none;
    border-bottom: 1px solid white;
}
.body>form input::placeholder {
    color: #fff;
    font-size: 1.2rem;
}



.body>form .button {
    padding: 10px 40px;
    background: white;
    display: flex;
    margin: 1.5em auto;
    letter-spacing: 2px;
    border-radius: 20px;
    transition: .3s all;
}

.body>form .button:hover {
    background: #000000;
    color: #FFFFFF;
}