.services-sec {
   background: url("https://i.ibb.co/Ky0n1bJ/blobthebuilder.jpg");

   background-size: contain;
   background-repeat: no-repeat;
   height: 50vh;
    width: 100%;
  
  }

  .services-text {
    width: 50%;
    background-image: url("https://i.ibb.co/Vg37Gp9/headingblob.png");
    background-repeat: no-repeat;
    background-size:30%;
    margin: 3rem 0 0;
    background-position:left top;
  }
  .services-text p {
    padding-bottom: 30px;
    font-size: 16px;
  }
/*   
  .service-img {
    transform: translateX(50%);
  } */
  
  .service-img img {
    height: 400px;
    width: 600px;
    border-radius: 25% 5% 25% 5%;
    box-shadow: 0px 10px 30px 0px rgb(154 150 248 / 20%);
  }
  .grid-contact{
    margin: 5rem 0  0;
  }
  .main-heading {
font-size: 2rem;
margin: 2rem 3rem 3rem;
font-weight: 700;
  }
  .para {
    margin: 3rem 0 0;
  }