
.sectionBlog h1 {
    color: #fff;
    width: 100%;
    font-size: 32px;
}

.sectionBlog h2 {
    color: #fff;
    width: 100%;
    font-size: 24px;
}

.sectionBlog h3 {
    color: #fff;
    font-size: 18.72px;
    line-height: 2.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.sectionBlog h4 {
    color: #fff;
    width: 100%;
    font-size: 16px;
}

.sectionBlog h5 {
    color: #fff;
    width: 100%;
    font-size: 13.28px;
}

.sectionBlog h6 {
    color: #fff;
    width: 100%;
    font-size: 10.72px;
}

.sectionBlog p {
    color: #fff;
    font-size: 16px;
    line-height: 1.75rem;
    padding: 0.75rem 0;
}

.blogArticWrap{
    width:40ch;
    border-radius: 20px;
}

.btnPost button{
    background-color: #00c1cf;
    color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    padding: 0.75rem 1.5rem;
    width: 100%;
    border: none;
}
.btnPost button:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.65);
}
.contImg {
    width: 20rem;
    border-radius: 20px;
    border-color: #00c1cf;
}
.btnPost{
    width:100%;
}
@media (max-width: 850px) {
    .contImg {
        width: 90%;
    }
}
@media(max-width:500px){
    .btnPost {
        width: 70%;
    }
}