

.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
}


.footerWrapper {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footerWrapper p{
    color: white;
}
@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 850px) {
    .footerWrapper {
        margin-bottom: 0;
    }
}