
.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
}
.contactFooterWrapper{
    background-color:rgba(0, 193, 207, 0.75);
}
.contactBottomLink{
    width: 20%;
}
.container1 > div:nth-child(1), .container1 > div:nth-child(2){
    width: 100%;
}
.contactFooterWrapper p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
    .contactParaFooter {
        width: 80%;
        margin: 10px 0px;
    }
    .contactBottomLink {
        width: 40%;
    }
}
@media (max-width: 850px) {
    .contactParaFooter {
        width: 90%;
    }
    .contactBottomLink {
        width: 55%;
    }
}

@media (max-width: 500px) {
    .contactParaFooter {
        width: 100%;
    }
    .contactBottomLink {
        width: 80%;
    }
}