.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.teamSection {
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.teamSection h1 {
    color: rgb(26, 195, 224);
    width: 100%;
    font-size: 32px;
}

.teamSection h2 {
    color: rgb(26, 207, 192);
    width: 100%;
    font-size: 24px;
}

.teamSection h3 {
    color: #fff;
    font-size: 18.72px;
    line-height: 2.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.teamSection h4 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 16px;
}

.teamSection h5 {
    color: #fff;
    width: 100%;
    font-size: 13.28px;
}

.teamSection h6 {
    color: #fff;
    width: 100%;
    font-size: 10.72px;
}

.teamSection p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.75rem;
    padding: 0.75rem 0;
}


.guardsList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}


.guards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}
.guardImage {
    border-radius: 50%;
    width: 80%;
}

.guardSocial {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

@media (max-width: 1200px){
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
    .teamSection {
        padding: 2rem;
    }
    .guardsList {
        flex-wrap: wrap;
    }
    .guards {
        width: 50%;
    }
    .guardSocial {
        width: 40%;
    }
}

@media (max-width: 850px) {
    .guards {
        width: 100%;
    }
    .guardImage {
        width: 70%;
    }
    .guardSocial {
        width: 30%;
    }
}