

/* global  */

.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
  
}

/* global end  */

.pricingCards{
    width: 30ch;
    border-radius: 20px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
}




.containerMainPrice h3 {
    color: #fff;
    font-size: 18.72px;
    line-height: 2.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
    
}

.containerMainPrice h4 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 16px;
}

.containerMainPrice h5 {
    color: #fff;
    width: 100%;
    font-size: 13.28px;
}

.containerMainPrice h6 {
    color: #fff;
    width: 100%;
    font-size: 10.72px;
}

.containerMainPrice p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.75rem;
    padding: 0.75rem 0;
    width: 100%;

}
.containerMainPrice > div:nth-child(2) > div:nth-child(3)  p {
    line-height: 2rem;
    color: #fff;
 
}

.pricingList li{
    color: black;
}
.pricingCards > div:last-child > div > p > button{
    background-color: #00c1cf;
    border-radius: 30px;
    border: 2px solid #00c1cf;
    padding: 0.5rem 2.25rem;
    color: black;
}
.cardsWrapper{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.cardsWrapperM{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    flex-wrap: wrap;
}
.pricingCards > div:last-child > div > p > button:hover {
    background-color: #000;
    color: white;
}
@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 600px) {
    .containerMainPrice {
        padding: 1px;
    }
    .cardsWrapper{
        flex-wrap: wrap;
    }
}
.price-btn {
    background-color:rgb(26, 195, 224);
    font-size: 16px;
    border-radius: 30px;
    font-weight: 100px;
    padding: 10px 35px;
  }