.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
}
.pricingCards{
    width: 30ch;
    border-radius: 20px;
}
.containerMainPrice > div:nth-child(1) > div:nth-child(1) > h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #534c5c;
}
.containerMainPrice > div:nth-child(1) > div:nth-child(2) > h1 {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    color: #00c1cf;
}
.pricingCards h1{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #00c1cf;
}
.pricingCards h2 {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
    line-height: 1;
    color: black;
}
.container1 > div:nth-child(3) > div:nth-child(2) > h2{
    color: white;
}
.pricingList li{
    color: black;
}
.pricingCards > div:last-child > div > p > button{
    background-color: #00c1cf;
    border-radius: 30px;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 2px solid #00c1cf;
    padding: 0.5rem 2.25rem;
    color: black;
}
.pricingCards > div:last-child > div > p > button:hover {
    background-color: #000;
    color: white;
}
@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
}

@media (max-width: 500px) {
    .containerMainPrice {
        padding: 1px;
    }
}