
.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
}
.serviceWrapper{
    max-width: 100vw;
    min-height: 40rem;
}
.serviceCard{
    border-radius: 10px;
}
.servicesMoreLink{
    background-color: #00c1cf;
}
.servicesMoreLink:hover {
    background-color: #00c1cf;
}

.serviceImages {
    filter: contrast(0.5) brightness(0.9);
}

.serviceLayerH2 {
    transition: 0.2s;
}
.serviceWrapper > div:first-child > h4{
    text-align: center;
    font-weight: 900;
    color: #00c1cf;
}
.serviceWrapper > div:nth-child(2) > h2{
    font-size: 3rem;
    line-height: 1;
    color: white;
    font-weight: 900;
    text-align: center;
}

.serviceWrapper > div:nth-child(3) > p{
    max-width: 25rem;
    color: white;
    text-align: center;
    margin: 3rem auto;
    line-height: 1.5rem;
    font-weight: 300;
}
.layer {
    background: transparent;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layer::after {
    content: "";
    height: 38.75em;
    width: 0%;
    background: rgba(0, 193, 207, 0.2);
    display: block;

    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transition: 0.1 all ease;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.layer:hover::after {
    width: 100%;
}

.layer:hover #head {
    transform: translate(-50% -50%);
    max-width: 100%;

    font-size: 1.4em;
}

.layer:hover #btn {
    display: block;
    width: 9rem;
}


@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }
}


@media (max-width: 850px) {
    .serviceLayerH2 {
        font-size: 1.2rem;
    }
}