.container1 {
    max-width: 73.5rem;
    margin: 0 auto;
}

.subscribeSection {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 5rem;
    background-color: #00c1cf;
    z-index: 1;
    margin-bottom: -4rem;
    position: relative;
}

.subscribeSection h1 {
    color: rgb(26, 195, 224);
    width: 100%;
    font-size: 32px;
}

.subscribeSection h2 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 24px;
}

.subscribeSection h3 {
    color: #fff;
    font-size: 18.72px;
    line-height: 2.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.subscribeSection h4 {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 16px;
}

.subscribeSection h5 {
    color: #fff;
    width: 100%;
    font-size: 13.28px;
}

.subscribeSection h6 {
    color: #fff;
    width: 100%;
    font-size: 10.72px;
}

.subscribeSection p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.75rem;
    padding: 0.75rem 0;
}

.subscribeWrapper {
    display: flex;
    width: 100%;
    padding: 1.8rem 3.5rem;
    justify-content: space-between;
    align-items: center;
}

.rightContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30rem;
}


.inputEmail {
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.emailField {
    appearance: none;
    outline: none;
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 40px;
    font-size: 1.3rem;
    width: 50%;
}

.inputEmail>div {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 40px;
    z-index: 3;
    text-align: center;
    width: 50%;
}

.inputEmail>div>p>button {
    width: 100%;
    height: 100%;
    padding: 1.2rem 0;
}

@media (max-width: 1200px) {
    .container1 {
        max-width: 63rem;
        padding: 1rem 2rem;
    }

    .subscribeSection {
        max-width: 100%;
        margin-bottom: -5.7rem;
    }

    .subscribeWrapper {
        padding: 1rem 2rem;
        justify-content: center;
    }

    .rightContainer {
        flex-direction: column;
    }

    .offer {
        margin-bottom: 1rem;
        text-align: center;
    }

    .inputEmail {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .subscribeSection {
        margin: 0;
        margin-bottom: -5rem;
        max-width: 100%;
    }

    .inputEmail {
        width: 80%;
        flex-direction: column;
        background-color: transparent;
    }

    .emailField {
        margin-bottom: 2rem;
        padding-top: 0.7rem;
        width: 80%;
        padding-bottom: 0.7rem;
    }

    .subscribeBtn {
        width: 70%;
    }
}

@media(max-width:500px) {
    .subscribeSection {
        padding: 0;
    }

    .subscribeWrapper {
        padding: 2rem 0;
    }

    .offer>div:first-child>h3 {
        font-size: 1rem;
    }

    .offer>div:last-child>h1 {
        font-size: 1.2rem;
    }

    .emailField {
        margin-bottom: 1.25rem;
        width: 100%;
        padding: 0.7rem;
        font-size: 1rem;
    }

    .subscribeBtn {
        width: 100%;
        font-size: 1.1rem;
    }
}