
.accreCardWrapper{
    border-radius: 30px;
}

.containerMain h1 {
    color:rgb(26, 195, 224);
 font-weight: 600;
    font-size: 48px;
}

.containerMain h2 {
    color:black ;

    font-size: 24px;
    margin: 0 auto;
}

.containerMain h3 {
    color: #fff;
    font-size: 18.72px;
    line-height: 2.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.containerMain h4 {
    color: #fff;
    width: 100%;
    font-size: 16px;
}

.containerMain h5 {
    color: #fff;
    width: 100%;
    font-size: 13.28px;
}

.containerMain h6 {
    color: #fff;
    width: 100%;
    font-size: 10.72px;
}

.containerMain p {
    color: #fff;
    font-size: 16px;
    line-height: 1.75rem;
    padding: 0.75rem 0;
    text-align: left;
}
.flexWrapped{
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem auto;
}
.flexWrappedM{
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem auto;
    flex-wrap: wrap;
}

@media(max-width:600px){
    .containerMain {
        padding: 1px;
    }
    .accreH3 {
        font-size: 0.8rem;
    }
    .flexWrapped{
        flex-wrap: wrap;
    }
}