.header-img-serv img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .head-img-text {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index:100;
  }
  .dash {
    border-top: dashed 3px white;
  }
  .head1 {
    font-size: 6rem;
  }
  .headM{
    font-size: 2rem;
  }