.serviceswrap {
    width: 100%;
    text-align: center;
    padding: 3rem 0 0;
}
.rowserv {
    margin: 4rem 0 4rem;
    display: flex;
    justify-content: space-around;
    
}
.serviceswrap p {
    font-size: 1rem;
}
.serviceswrap h1 {
    font-size: 3rem;
    font-weight: 700;
    color:#00C1CF;
}
.colser1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: 3rem 3rem 0;
}
.long {
    height:35rem;
    width: 25rem;
}
.colser2 {
    margin: 3rem 3rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: right;
}
.colser1 p {
    margin: .7rem 0 0;
}
.colser2 p {
    margin: .7rem 0 0;
}
.colser1  h2 {
font-size: 1.8rem;
font-size: 600;
color: #00C1CF;
margin: .7rem 1rem 0 ;
}
.colser2  h2 {
    font-size: 1.8rem;
    font-size: 600;
    color: #00C1CF;
    margin: .7rem 1rem 0 ;
    }
    @media(max-width:900px){
        .rowserv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
            
        }
        .colser1 {
            margin: 3rem 3rem 3rem;
        }
        /* .serimg {
           
            width: 400px;
        } */
        .long {
         height: 44rem;
            width: 25rem;
        }
    }