.max-w-7xl {
    max-width: 136rem;
}

.maxHeadH{
    max-height: 6rem;
   
}
.pagebar{
    position: absolute;
    top:100%;
    background-color: white;
    transition: 0.3s all ease;
    width: 20rem;
    min-height: 90vh;
}
.sideButton:hover{
    border: 2px solid white
}