.header-img-serv {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
  }

  .head-img-text {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index:2;
  }
  .dash {
    border-top: dashed 3px white;
  }
  .head1 {
    font-size: 3.5rem;
    font-weight: 800;
  }
  .headM{
    font-size: 2rem;
  }
  @media (max-width: 900px) {
    .head1 {
      font-size: 2rem;
    }
  }