
.preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    background-color: #3cacfe;
}

.preloader__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader__svg-path:nth-child(1) {
    stroke-dasharray: 155.26px;
    stroke-dashoffset: 155.26px;
    -webkit-animation: line-anim-1 3s ease forwards infinite;
    animation: line-anim-1 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-1 {
    0% {
        stroke-dashoffset: 155.26px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 155.26px;
    }
}

@keyframes line-anim-1 {
    0% {
        stroke-dashoffset: 155.26px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 155.26px;
    }
}

.preloader__svg-path:nth-child(2) {
    stroke-dasharray: 240.69px;
    stroke-dashoffset: 240.69px;
    -webkit-animation: line-anim-2 3s ease forwards infinite;
    animation: line-anim-2 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-2 {
    0% {
        stroke-dashoffset: 240.69px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 240.69px;
    }
}

@keyframes line-anim-2 {
    0% {
        stroke-dashoffset: 240.69px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 240.69px;
    }
}

.preloader__svg-path:nth-child(3) {
    stroke-dasharray: 222.78px;
    stroke-dashoffset: 222.78px;
    -webkit-animation: line-anim-3 3s ease forwards infinite;
    animation: line-anim-3 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-3 {
    0% {
        stroke-dashoffset: 222.78px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 222.78px;
    }
}

@keyframes line-anim-3 {
    0% {
        stroke-dashoffset: 222.78px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 222.78px;
    }
}

.preloader__svg-path:nth-child(4) {
    stroke-dasharray: 252.96px;
    stroke-dashoffset: 252.96px;
    -webkit-animation: line-anim-4 3s ease forwards infinite;
    animation: line-anim-4 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-4 {
    0% {
        stroke-dashoffset: 252.96px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 252.96px;
    }
}

@keyframes line-anim-4 {
    0% {
        stroke-dashoffset: 252.96px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 252.96px;
    }
}

.preloader__svg-path:nth-child(5) {
    stroke-dasharray: 110.33px;
    stroke-dashoffset: 110.33px;
    -webkit-animation: line-anim-5 3s ease forwards infinite;
    animation: line-anim-5 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-5 {
    0% {
        stroke-dashoffset: 110.33px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 110.33px;
    }
}

@keyframes line-anim-5 {
    0% {
        stroke-dashoffset: 110.33px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 110.33px;
    }
}

.preloader__svg-path:nth-child(6) {
    stroke-dasharray: 251.91px;
    stroke-dashoffset: 251.91px;
    -webkit-animation: line-anim-6 3s ease forwards infinite;
    animation: line-anim-6 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-6 {
    0% {
        stroke-dashoffset: 251.91px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 251.91px;
    }
}

@keyframes line-anim-6 {
    0% {
        stroke-dashoffset: 251.91px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 251.91px;
    }
}

.preloader__svg-path:nth-child(7) {
    stroke-dasharray: 233.91px;
    stroke-dashoffset: 233.91px;
    -webkit-animation: line-anim-7 3s ease forwards infinite;
    animation: line-anim-7 3s ease forwards infinite;
}

@-webkit-keyframes line-anim-7 {
    0% {
        stroke-dashoffset: 233.91px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 233.91px;
    }
}

@keyframes line-anim-7 {
    0% {
        stroke-dashoffset: 233.91px;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 233.91px;
    }
}

.loaded .preloader {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}