.header-img-serv img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .head-img-text {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index:2;
  }
  .dash {
    border-top: dashed 3px white;
  }
  .head-img-text h1 {
    font-size: 4vw;
    font-weight: 700;
    z-index: 2;
    
  }