.header-img-serv img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .head-img-text {
    position: absolute;
    top: 22%;
    left: 15%;
    z-index:1;
  }
  .dash {
    border-top: dashed 3px white;
  }
  .head1 {
    font-size: 2.5rem;
    color:white;
  }
  .headM{
    font-size: 1.25rem;
  }
  @media (max-width: 500px) {
    .head1 {
      font-size: 0.63rem;
      color:white;
    }
   
    }