.bgImg{
    width: 50%;
    height: 50rem;
}
.bgClr{
    width: 50%;
    height: 50rem;
}
.mainHead1, .mainHead2{
    top: 40%;
}
.mainHead1{
    left: 25%;
}
.mainHead2{
    left: 10%;
}
.bgImgM{
    width: 100%;
    height: 50rem;
}
.bgClrM{
    background: none;
}
.mainHead1M{
    top: 50%;
    color: rgb(24, 148, 179);
    left: 1rem;
}
.mainHead2M{
    top: 30rem;
    color: rgb(24, 148, 179);
    left: -29rem;
}
@media (max-width: 700px){
    .bgClr{
        background: none;
    }
    .mainHead1{
        top: 50%;
        color: rgb(24, 148, 179);
        left: 1rem;
    }
    .mainHead2 {
        top: 30rem;
        color: rgb(24, 148, 179);
        left: -14rem;
    }
    .bgImg{
        width: 100%;
    }
}