.bgImg{
    width: 100%;
    height: 90vh;
}
.headtext{
    top: 50%;
    left:5rem;

}
@media (max-width: 700px) {
    
    .headtext
    {
        top: 33.33%;
        left:3rem;
    }
    .headtext h1
    {
      width:90%;  
    font-size: 2.5rem !important;
    }
    .headtext p
{
    width:90%;
    font-size: 1rem !important;
}
}
.headtextM{

    top:33.33%;
    left:3rem;
} 
.headtextM h1
{
    width:90%;
    font-size: 2.5rem !important;
}

.headtextM p
{
    width:90%;
    font-size: 1rem !important;
}