html {
    --clr-secondary-light: #292929;
    --clr-secondary: #000000;
  
    --clr-gray: #dddddd;
    --clr-light: #ffff;
    --clr-font: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box;
 
    /* --clr-primary: #0f0e30; */
    --clr-primary: #ffff;
    --clr-white-smoke: #000;
    --clr-red-new: #c01120;
    --clr-black-new: #000;
  }

  .container-main {
    padding: 30px 90px;     
    }
  .heading2-main-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
  }
  .heading2-main-title h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #c01120;
    color: #575757;
    padding: 17px 0;
  }
  .sub-title2 {
    position: relative;
  }
  .sub-title2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 30%;
    background: #c01120;
    left: 0;
    bottom: -2px;
  }
  .heading2-main-title h1 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
 
.heading-main-v2 h1 {
    font-size: 30px;
    color:#000000;
  }
  .heading-main-v2 p {
    color: white;
    font-size: 10px;
  }
  .heading-main-v2 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }
  .heading-main-v3 h1 {
    font-size: 70px;
  }
  .heading-main-v3 p {
    font-size: 20px;
  }
  .heading-main-v3 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
  }
  
  .policy-content h1 {
    font-size: 40px;
  }
  .policy-content p {
    padding-top: 40px;
    padding-right: 90px;
    font-size: 20px;
  }
  
  .policy_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .policy-i-card {
    display: flex;
  }
  .pol-icon {
    border-radius: 40%;
    background-color:#c01120;
  }
  .policy_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .pol-para {
    font-size: 20px;
    padding: 30px;
  }
  .policy_bottom {
    padding: 70px 0;
  }
  .policyimg {
   padding: 20px 10px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
      rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
      rgb(0 0 0 / 9%) 0px -3px 5px;
    backdrop-filter: blur(5px);
    margin-top: 10px;
    width: 106%;
    
  }
  @media (max-width: 900px) {
    .container-main {
      padding: 30px 30px;     
      }
      .policy-content p {
        padding-top: 40px;
        padding-right: 20px;
        font-size: 16px;
      }
      .policy-content h1 {
        font-size: 28px;
        font-weight: 800;
      }
    }