.services-sec {
    background-image: url("https://i.ibb.co/vXJvB5q/head2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    background-position: center;
  }
  .services-secM {
    background-image: url("https://i.ibb.co/vXJvB5q/head2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
  }
  .contentserv {
    background-image: url("https://i.ibb.co/Vg37Gp9/headingblob.png");
    background-size: cover;
    background-position: 0%;
    opacity: 0.8;
  display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    width: 800px;
  }
  .contentservM {
    background-image: url("https://i.ibb.co/Vg37Gp9/headingblob.png");
    background-size: contain;
    background-position: 0%;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    width: 800px;
  }
  .headings {
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    font-weight: 800;
    color: #333434;
  }
  @media(max-width: 600px){
    .contentserv{
      background-size: contain;
      background-repeat: no-repeat;
    }
    .services-sec {
      height: auto;
    }
  }