.coll-2 {
    background-image:linear-gradient(rgba(0, 0,0,0.6),rgba(0, 0,0,0.6)), url(./bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content:end;
    width: 50%;
}