.editing {
    min-height: 80vh;
    height: 100%;
}
.editing.empty{
    min-height: 80vh;
    height: 20vh;
}
.editWrap {
    max-width: 70vw;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px 10px #DFEBEE;
    overflow: hidden;
}


.dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #84878c;
}