@media (min-width: 640px) {
    .mlLeft {
        margin-left: -8vw;
    }
}
.i-circle {
    font-size: 30px;
    color: blue;
    transition: transform 0.25s ease;
}
.navToggle {
    height: 38px;
    width: 38px;
    z-index: 5;
    transition: transform 0.25s ease;
}
.navToggle .open{
    transform: rotate(45deg);
    color: red;
}

.mainNav {
    position: fixed;
    top: 4.5rem;
    left: 0;
    width: 9.5vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
    overflow-y: hidden;
}

.mainNav.open {
    transform: translateX(0%);
}

.mainNav .mainNavLink {
    padding-left: 0.75rem;
    text-transform: capitalize;
}
