@media (min-width: 640px) {
    .mlLeft {
        margin-left: -8vw;
    }
}

.i-circle {
    font-size: 1.5rem;
    transition: all 0.25s ease;
}

.navToggle {
  
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 25;
    transition: all 0.10s ease;
}

.navToggle .open {
    transform: rotate(45deg);
}
.mainNav {
    position: fixed;
    top: 6.2rem;
    left: 0;
    width: 12vw;
    height: 100vh;
    background-color: rgb(46, 46, 46); 
    z-index: 23;
    transform: translateX(-100%);
    transition: all 0.15s ease;
    overflow-y: hidden;
    padding-top: 2rem;
    border-top-right-radius: 20px;
  
}

.mainNavText{
    transition: all 0.0s ease-in-out;
    color:white;
  
}
.mainNav.open {
    transform: translateX(0%);
}

.mainNav .mainNavLink > button {
    padding-left: 5rem;
    text-transform: capitalize;
    font-family: 'Montserrat';
   
}

.mainNav .mainNavLink:hover {
    background-color: #474747;
    margin: 0 15px;
    border-radius: 10px;
   
}

.mainNavLink:hover .mainNavText {
    transform: translateX(0.0);
 
}
.mainNav .mainNavLink {
    display: block;
    padding: 0.21875rem 0;
    text-transform: capitalize;
  }
.assetList {
    position: fixed;
    top: 4rem;
    left: 9.5vw;
    bottom: 0;
    width: 45vw;
    background-color: #fff;
    z-index: 10;
    padding-top: 3rem;
    padding-bottom: 2rem;
    transform: translateX(-300%);
    transition: all 1.5s ease;
    overflow-y: scroll;
}
.assetList > ul{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.assetImages {
    border-radius: 0.5rem;
    overflow:hidden;
    border: 1px solid transparent;
    margin: 0.8rem;
    width: 42vw;
    height: auto;
}
.assetImages:hover{
    border: 1px solid black;
}
