@media (min-width: 640px) {
    .mlLeft {
        margin-left: -8vw;
    }
}

.mainNav {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 9.5vw;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    overflow-y: hidden;
}

.mainNav .mainNavLink {
    padding-left: 1rem;
    text-transform: capitalize;
    transition: all 0.35s ease;
}
.mainNav .mainNavLink:hover{
    background-color: #9fe1ff;
    transform: translateX(10%);
}

.footerList, .testimonialList, .faqsList, .contactList, .socialList, .pricingList, .servicesList{
    position: fixed;
    top: 4rem;
    left: 9.5vw;
    height: 100vh;
    width:25vw;
    background-color:#fff;
    z-index: 10;
    transform: translateX(-300%);
    transition: all 0.7s ease;
}
.assetImages{
    max-width: 20vw;
    padding-left: 1rem;
}
.footerState:hover .footerList{
    transform: translateX(0);
}
#testimonialState:hover .testimonialList {
    transform: translateX(0);
}