.MainHeading {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  /* background-color: darkgray; */
}

.head-main {
  margin: 60px 0;
}

.SpanColor {
  color: #c0272d;
}

.spanDesc {
  /* background-color: darkcyan; */
  text-align: center;
}

.spanDesc p {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #292929;
}

.dot {
  margin: 0 12px;
  width: 22px;
}

.divMainHeading {
  display: flex;
  /* background-color: green; */
  height: 20px;
  margin-left: 25%;
}

.divMainHeadingSubDiv {
  /* background-color: gold;  */
  width: 30%;
  border-top: 3px dashed firebrick;
  margin-top: 9px;
}
.section-padding {
  padding: 40px 0;
}
.brand-carousel {
  background: linear-gradient(to top, #9b9b9b00, 30%, #47474700);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.owl-dots {
  text-align: center;
  margin-top: 4%;
}
.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: rgb(109, 109, 109) !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-dot.active {
  background-color: #000 !important;
}
.accrediation {
  width: 100%;

  padding: 70px;
}
.accrediation p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.accrediation h4 {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #c0272d;
  text-align: center;
}
.accre-content {
  background-color: #ebebeb;
  height: 150px;
  width: 18rem;
}

@media (max-width: 1550px) {
  .pokemon__img {
    max-height: 53.4vw;
    left: 22%;
  }

  .guard2__img {
    max-height: 53.4vw;
    /* left: 22%; */
  }

  .text--big {
    font-size: 20vw;
    margin-left: 200px;
  }

  .text--sub {
    margin-left: 240px;
  }
}

@media (max-width: 1182px) {
  .pokemon__img {
    max-height: 65.4vw;
    left: 13%;
  }

  .guard2__img {
    max-height: 65.4vw;
    /* left: 13%; */
  }

  .text--big {
    font-size: 24vw;
    margin-left: 25px;
  }

  .text--sub {
    margin-left: 60px;
  }
}
@media(max-width: 860px){
  .MainHeading {
    font-size: 2rem !important;
  }
}
@media (max-width: 1066px) {
  .pokemon__img {
    max-height: 55.4vw;
    left: 28%;
  }

  .slider-temp2 {
    height: 550px;

  }

  .guard2__img {
    max-height: 55.4vw;
    left: 28%;
  }

  .text--big {
    font-size: 24vw;
    margin-left: 0px;
  }

  .text--sub {
    margin-left: 10px;
  }
}

@media (max-width: 900px) {
  .flex__item {
    height: 550px;
  }

  .bg-line {
    height: 550px;
  }

  .flex__container {
    height: 550px;
  }
}

@media (max-width: 612px) {
  .text--big {
    font-size: 21vw;
    margin-left: -32px;
  }
  .MainHeading{
    font-size: 2rem !important;
  }

  .text--sub {
    margin-bottom: 0;
  }
}