.test {
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .test-sec {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 163px;
  }
  
  .test-footer {
    text-align: center;
    color: black;
    padding-bottom: 35px;
    
  }
  .test-footer .test-main {
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
  }
  .test-footer .testchild {
    font-size: 1rem;
    color: white;

    text-transform: capitalize;
  }
  
  .container-test {
    width: 100%;
    /* margin: 50px auto; */
  }
  
  .row-test {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rowTestM{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .test-card {
    width: 100%;
    background:#292929;
    border: 5px solid white;
    padding: 0px 0px;
    transition: 0.3s;

    margin: 10px 11px;
  }
  .t-mid {
    background:#c0272d;
    color: white;

  }

  .test-body {
    padding: 30px 5px;
    text-align: center;
    font-size: 18px;
    background: url("https://i.ibb.co/yW6gDQP/bgtest.png");
    background-repeat: no-repeat;
    background-position: 10px 17.2714px;
    background-size: cover;
   
  }
  
  /* @media screen and (max-width: 1000px) {
    .test-card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container-test {
      width: 100%;
    }
  
    .test-card {
      width: 80%;
    }
  } */
  
  .testpara {
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  
  .test-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 10px;
  }
  .line {
    height: 6px;
    width: 45px;
    background: white;
  }
  .MainHeading {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* background-color: darkgray; */
  }
  
  .head-main {
    margin: 60px 0;
  }
  
  .SpanColor {
    color: #c0272d;
  }
  
  .spanDesc {
    /* background-color: darkcyan; */
    text-align: center;
  }
  
  .spanDesc p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #292929;
  }
  
  .dot {
    margin: 0 12px;
    width: 22px;
  }
  
  .divMainHeading {
    display: flex;
    /* background-color: green; */
    height: 20px;
    margin-left: 25%;
  }
  
  .divMainHeadingSubDiv {
    /* background-color: gold;  */
    width: 30%;
    border-top: 3px dashed firebrick;
    margin-top: 9px;
  }
  @media screen and (max-width: 1000px) {
    .test-card {
      width: 40%;
    }
  }

  @media screen and (max-width: 620px) {
    .container-test {
      width: 100%;
    }

    .test-card {
      width: 80%;
    }
    .row-test{
      flex-direction: column;
    }
    .test-body{
      background: none;
    }
  }

  
  @media (max-width: 900px) {
    .flex__item {
      height: 550px;
    }

    .bg-line {
      height: 550px;
    }

    .flex__container {
      height: 550px;
    }
  }

  @media (max-width: 612px) {
    .text--big {
      font-size: 21vw;
      margin-left: -32px;
    }

    .text--sub {
      margin-bottom: 0;
    }
  }
  @media(max-width: 860px){
    .MainHeading, .test-main{
      font-size: 2rem !important;
    }
  }