.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-primary);
    color: white;
    font-family: poppins;
    font-size: 14px;
  }
  .column-foot {
    display: flex;
    flex-direction: column;
    float: left;
    width: 24%;
    padding: 30px;
    height: 400px; 
    margin: 5px;
  }
  
  .row-foot {
    padding-top: 60px;
  }
  .row-foot:after {
  
    content: "";
    display: table;
    clear: both;
  }
  
  #input {
    border-style: double;
    font-size: 20px;
  }
  
  .hh1 {
    font-size: 18px;
    margin-left: 58px;
    margin-top: 2px;
    color: white;
  }
  .hh2 {
    font-size: 25px;
    font-weight: 900;
    margin-top: 10px;
    color: var(--clr-secondary);
  }
  
  .i1 {
    color: var(--clr-secondary);
    /* left:12pc; */
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }
  
  .i {
    color: white;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
  }
  
  .pg {
    text-align: center;
    margin-left: -36%;
  
    color: white;
    font-size: 15px;
  }
  .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 80px;
    text-align: left;
    padding: 40px;
    width: 100%;
  }
  
  .span {
    width: 50px;
    height: 3px;
    background-color: var(--clr-light);
    position: relative;
    left: 2px;
    top: 20px;
  }
  .col {
    text-align: left;
    margin-top: 100px;
    font-size: 16px;
    padding-left: -50px;
  }
  
  .foot-container {
    width: 100%;
    padding: 0 10px;
  }
  
  .bottom-foot {
    width: 100%;
    padding: 15px 200px;
    background-color: var(--clr-secondary);
    display: flex;
    justify-content: center;
    height: auto;
  }
  .main-para {
    margin-bottom: 10px;
    line-height: 30px;
  }
  
  .nav-foot ul {
    list-style: none;
    display: flex;
  }
  
  .nav-foot a {
    text-decoration: none;
    padding: 0 10px;
    color: #f2f2f2;
    font-weight: 600;
  }