.container-guards-wrapper {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    height: auto;
  }
  .box1 {
    background-image: url(../assets/template2images/news1.jpg);
    background-position: center;
    height: 400px;
    background-size: cover;
  }
  .box2 {
    background-color:#c0272d;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    height: 400px;
  }
  .box3 {
    background-image: url(../assets/template2images/news2.jpg);
    background-position: center;
  
    background-size: cover;
    height: 400px;
  }
  .box4 {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-around;
    background-color: #c0272d;
    height: 400px;
  }
  .box5 {
    background-image: url(../assets/template2images/news3.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    /* box-shadow: rgba(8, 8, 8, 0.24) 10px 10px 10px; */
  }
  .dash {
   color: white;
   padding: 20px;
   font-size: 1rem;
  }
  .box6 {
    background-color: #c0272d;
    height: 400px;
  }
  .icons-guards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.fab {
    margin: 0 0.75rem;
}
  .container-guards {
    display: grid;
    font-size: 40px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(350px, 500px));
    /* grid-template-columns: 400px 400px 400px;
      grid-template-rows: 400px 400px; */
  
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 134px;
  }
  .h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 40px 0;
  }
  .pg {
    color: white;
 font-size: 1rem;
 
    padding: 20px;
  }
  
  .span {
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 0;
    top: 1px;
    padding: -5px;
    margin-top: -33px;
  }
  
  @media (max-width: 1300px) {
    .container-guards-wrapper {
      padding: 20px;
    }
  
    .container-guards {
      grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    }
  }
  @media (max-width: 1500px) {
    .container-guards {
      grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    }
}
.test-para {
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  
  .test-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 10px;
  }
  .line {
    height: 6px;
    width: 45px;
    background: var(--clr-light);
  }
  .MainHeading {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* background-color: darkgray; */
  }
  
  .head-main {
    margin: 60px 0;
  }
  
  .SpanColor {
    color: #c0272d;
  }
  
  .spanDesc {
    /* background-color: darkcyan; */
    text-align: center;
  }
  
  .spanDesc p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #292929;
  }
  
  .dot {
    margin: 0 12px;
    width: 22px;
  }
  
  .divMainHeading {
    display: flex;
    /* background-color: green; */
    height: 20px;
    margin-left: 25%;
  }
  
  .divMainHeadingSubDiv {
    /* background-color: gold;  */
    width: 30%;
    border-top: 3px dashed firebrick;
    margin-top: 9px;
  }