.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 800px;
  width: 100%;
}
/* 
.flex__container.flex--active {
  z-index: 2;
} */

.textSub {
  font-size: 26px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 160px;
  font-family: "Open Sans", sans-serif;
  margin-left: 285px;
  color: white;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 15vw;
  font-weight: 600;
  line-height: 110px;
  color: rgba(255, 255, 255, 0.8);

  margin-left: 250px;
}

.text--normal {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 72px;
  bottom: 25px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}

.flex__item {
  height: 1060px;
  color: #fff;
  transition: transform 0.1s linear;
}

.flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  font-size: 4rem;
  display: -ms-flex;
  align-items: center;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 100%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  overflow: hidden;
}


.flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
  background: var(--clr-primary);
}

.flex--piplup .flex__item--right {
  background: #d3eaef;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
  background: var(--clr-primary);
}

.flex--pikachu .flex__item--right {
  background: #f4ecc5;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
  background: var(--clr-primary);
}

.flex--blaziken .flex__item--right {
  background: #ffebcd;
}

/* Dialga */

.flex--dialga .flex__item--left {
  background: #476089;
}

.flex--dialga .flex__item--right {
  background: #ade8f7;
}

/* Zekrom */

.flex--zekrom .flex__item--left {
  background: #424242;
}

.flex--zekrom .flex__item--right {
  background: #a7bcbb;
}

.flex__content {
  margin-left: 30px;

  opacity: 1;
  color: white;
  font-size: 3rem;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  z-index: 1;
}

.pokemonimg {
  position: absolute;
  left: 503px;
  z-index: 500;
  width: 35rem;
  height: 37rem;
  bottom: -278px;
  max-width: 50rem;
}

.guard2__img {
  position: absolute;
  /* bottom: 20px; */
  /* right: 14%; */
  max-height: 38.4vw;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s,
    transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  left: 36%;
  bottom: 0;
  /* top: 32.5%; */
  height: 100%;
  z-index: 3;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

.flex__container.animate--start .pokemonimg {
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .bg-line {
  transform: translate3d(42px, -62px, -135px);
  opacity: 0;
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.flex__container.animate--end .pokemonimg {
  transform: translate3d(200px, 0, 0);
  opacity: 0;
}

.bg-line {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 10%;
  height: 800px;
}
.slider-temp2 {
  position: relative;
  right: 0;
  width: 100%;
  height: 850px;
  padding-top: 2em;
  /* padding-bottom: 0em; */
  /* margin-top: 0; */
  margin-bottom: 50px;
}

@media (max-width: 1550px) {
  .pokemonimg {
    max-height: 53.4vw;
    left: 22%;
  }
  .guard2__img {
    max-height: 53.4vw;
    /* left: 22%; */
  }

  .text--big {
    font-size: 20vw;
    margin-left: 200px;
  }

  .textSub {
    margin-left: 240px;
  }
}
@media (max-width: 1182px) {
  .pokemonimg {
    max-height: 65.4vw;
    left: 13%;
  }
  .guard2__img {
    max-height: 65.4vw;
    /* left: 13%; */
  }

  .text--big {
    font-size: 24vw;
    margin-left: 25px;
  }

  .textSub {
    margin-left: 60px;
  }
}
@media (max-width: 1066px) {
  .pokemonimg {
    max-height: 55.4vw;
    left: 28%;
  }
  .slider-temp2 {
    height: 550px;

}
  .guard2__img {
    max-height: 55.4vw;
    left: 28%;
  }

  .text--big {
    font-size: 24vw;
    margin-left: 0px;
  }

  .textSub {
    margin-left: 10px;
  }
}
@media (max-width: 900px) {
  .flex__item {
    height: 550px;
  }

  .bg-line {
    height: 550px;
  }

  .flex__container {
    height: 550px;
  }
}

@media (max-width: 612px) {
  .text--big {
    font-size: 21vw;
    margin-left: -32px;
  }

  .textSub {
    margin-bottom: 0;
  }
}