.btnb-2 {
    background: #ebebeb;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-flex;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .btnb-2::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 55%;
    background: black;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .btnb-2::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0;
    top: 0;
    background: black;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .btnb-2:hover:before {
    width: 0;
  }
  
  .btnb-2:hover:after {
    width: 0;
  }
  
  .btnb-2:hover {
    cursor: pointer;
    color: black;
  }
  
  .price1 {
    color: #c0272d;
  }
  
  .price1 .nb1 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: bolder;
  }
  
  .price1 .year1 {
    font-size: 3rem;
  }
  
  .price-ser {
    list-style-type: none;
    color: #c0272d;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 35px;
  }
  
  
  
  .price-cards {
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .card-header .card-main {
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .card-header .cardchild {
    color: #c0272d;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .container {
    width: 100%;
    margin: 20px auto;
  }
  
  .row {
    display: flex;
   
    justify-content: center;
    /* flex-flow: wrap; */
    margin: 10px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 25%;
    background: #ebebeb;
    border: 5px solid white;
    transition: 0.3s;
    margin: 10px 12px;
  }
  
  .mid {
    background: white;
    border: 0.2px solid rgb(238, 238, 238);
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    color: white;
    padding-bottom: 0;
  }
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  .mid:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1560px) {
    .card-header .card-main {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 360px) {
    .serv-logo {
      width: 22%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .serv-logo {
      width: 25%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .card {
      width: 80%;
    }
  }
  
  .btnb-3 {
    background: white;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-flex;
    margin-top: 20px;
    position: relative;
  
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .btnb-3::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 55%;
    background: black;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .btnb-3::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0;
    top: 0;
    background: black;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .btnb-3:hover:before {
    width: 0;
  }
  
  .btnb-3:hover:after {
    width: 0;
  }
  
  .btnb-3:hover {
    cursor: pointer;
    color: black;
  }
  
  .MainHeading {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    /* background-color: darkgray; */
  }
  
  .head-main {
    margin: 60px 0;
  }
  
  .SpanColor {
    color: #c0272d;
  }
  
  .spanDesc {
    /* background-color: darkcyan; */
    text-align: center;
  }
  
  .spanDesc p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #292929;
  }
  
  .dot {
    margin: 0 12px;
    width: 22px;
  }
  
  .divMainHeading {
    display: flex;
    /* background-color: green; */
    height: 20px;
    margin-left: 25%;
  }
  
  .divMainHeadingSubDiv {
    /* background-color: gold;  */
    width: 30%;
    border-top: 3px dashed firebrick;
    margin-top: 9px;
  }